<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/styles/Stylesheet.css}" type="text/css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!--//TODO make tags/class names to linkup the css -->

<body>
<div class="bg-img">
    <h1>SHOW WISHLIST</h1>
<section class="list">
    <table class="SharedTable">
        <tr th:each="wishList : ${wishList}">
            <td th:text="${wishList.description}"></td>
            <td th:text="${wishList.price}"></td>
            <!-- <td th:if="${userID != sessionUserID}" th:text="${wishList.isReserved}"></td> -->
            <!--Reserve knap, hvis man er logget ind med en anden bruger
                remove reservation, hvis man har reserveret et ønske
                ingen knapper, hvis man ikke er logget ind

                //todo not done-->
            <td th:if="${userID != sessionUserID and sessionUserID > 0 and wishList.isReserved == 'false'}"><form action="/reserveWish" method="post">
                <button type="submit" name="wishID" th:value="${wishList.wishID}">reserve</button>
            </form></td>
            <!--  -->
            <td th:if="${sessionUserID == wishList.reservedUserID and wishList.isReserved == 'true'}"><form action="/removeReservation" method="post">
                <button type="submit" name="wishID" th:value="${wishList.wishID}">remove</button>
            </form></td>
        </tr>
    </table>
</section>
</div>
</body>
</html>