<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/styles/Stylesheet.css}" type="text/css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!--//TODO make tags/class names to linkup the css -->

<body>
<div class="bg-img">
    <h1>SHOW WISHLIST</h1>
    <section class="list">
        <table class="SharedTable">

            <th class="wish">WISH</th>
            <td class="descPrice">PRICE</td>

            <tr th:each="wishList : ${wishList}">

                <td th:text="${wishList.description}"></td>
                <td th:text="${wishList.price}"></td>

                <td th:if="${!wishList.isReserved} and ${userID != sessionUserID} and ${sessionUserID > 0}">
                    <form action="/reserveWish" method="post">
                        <button class="DelAndReserveBtn" type="submit" name="wishID" th:value="${wishList.wishID}">RESERVE</button>
                    </form>
                </td>

                <td th:if="${wishList.isReserved} and ${wishList.reservedUserID == sessionUserID}">
                    <form action="/removeReservation" method="post">
                        <button class="DelAndReserveBtn" type="submit" name="wishID" th:value="${wishList.wishID}">REMOVE RESERVATION</button>
                    </form>
                </td>

                <td th:if="${wishList.isReserved} and ${wishList.reservedUserID != sessionUserID} and ${wishList.userID != sessionUserID} and ${sessionUserID > 0}">
                    <button class="DelAndReserveBtn">RESERVED BY OTHER</button>
                </td>

            </tr>
        </table>
    </section>
</div>
</body>
</html>